[Unit]
Description=Starts xremap with config

[Service]
Type=simple
ExecStart=/bin/xremap --watch=device /home/arts/.config/xremap/esc2caps.yml
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
