#!/usr/bin/bash

export EDITOR=vim
export TERMINAL=ghostty
export TERMCMD="ghostty --confirm-close-surface=false"

alias bashsrc="vim ~/.{bashrc,aliases,vimrc} && source ~/.bashrc"
alias clear="/bin/clear && fetch && echo"
alias ls="lsd --color always" # --icon never"
# alias sdb="~/scripts/systemAuto/ddcutilScreenBrightness.sh" # superceeded by SDB or monitorBrightness use that stupid
alias initenv="source ./env/bin/activate || virtualenv ./env && source ./env/bin/activate"
alias virtMon="krfb-virtualmonitor --resolution 1920x1080 --name VirtualMonitor --password password --port 3355"
alias SDB="monitorBrightness"
alias GHK="ssh-add ~/.ssh/artsGHK 2>&1 /dev/null <<< systemd-ask-password"

#sudoify those guys

alias pacman="yay"
alias mount="sudo mount"
alias umount="sudo umount"

# i'll forget about this

alias fetch='fastfetch'
alias fetche='fastfetch --config ~/.config/fastfetch/extra.jsonc'
alias visudo="EDITOR=vim sudo visudo"
alias soft-reboot="systemctl soft-reboot"
alias grep="grep --colour=auto "
alias egrep="grep --colour=auto -E "
alias xterm="ghostty"
alias vi="vim"
 
if [[ "$(cat /etc/hostname)" != "holo-overlord" ]]; then
	alias COMPCON="ssh holo-overlord && clear"
  alias wifi="~/scripts/systemScripts/connectToWifi.sh"
fi

# tmux in session stuff

if [[ -n $TMUX ]] ; then 
	alias detach="tmux detach -P"
	alias close="detach && exit"

else # if not in a tmux session
	alias tmuxn="tmux a -t$USER || tmux new -s$USER"
	alias needChrome="pacman -S chromium --noconfirm && chromium && pacman -Rsu chromium --noconfirm && rm -rf .config/chromium"
fi

# we got the budget go-ahead to upgrade to functions too!

function monitorBrightness() {
  if [[ -n "$1" ]]; then
    ddcutil --display 1 setvcp 0x10 $1
    ddcutil --display 2 setvcp 0x10 $1
  else
    echo "must provide a numerical value from 0-100"
  fi
}
alias color="colour"
colour() {
	perl -e 'foreach $a(@ARGV){print "\e[48:2::".join(":",unpack("C*",pack("H*",$a)))."m \e[49m "};print "\n"' "$@"
}
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}


