PROMPT_COMMAND='PS1_CMD1=$(__git_ps1 " (%s)")'; PS1='\W${PS1_CMD1} \s\n\$ '

if ! ssh-add -l | grep -q "githubKey: arts@holo-machine-2025-07-14 (ED25519)"; then
  echo "GHK is NOT loaded"
  if [[ -f "~/.ssh/artsGHK" ]]; then
    echo "your github key is not in your .ssh folder"
  fi
fi
