PROMPT_COMMAND='PS1_CMD1=$(__git_ps1 " (%s)")'; PS1='\W${PS1_CMD1} \s\n\$ '

if ! ssh-add -l | grep -q "githubKey: arts@holo-machine-2025-07-14 (ED25519)"; then
  echo "loading ssh key"
  if [[ -f "~/.ssh/artsGHK" ]]; then
    echo "your github key is not in your .ssh folder"
  else
    ssh-add ~/.ssh/artsGHK > /dev/null 2>&1
  fi
fi
