@import "./rose-pine.css";
*{
  font-family: "InputMono Nerd Font Medium", "OpenSans-Regular";
  font-size: 13px;
}

#waybar {
    background-color: transparent;
}

#waybar .module {
  color: @text;
  padding: 0px 0px;
  padding-left: 2px;
  margin: -10px 5px -10px;
  border: 6px;
}

#waybar .module:hover {
  color: @subtle;
  background: @overlay;

}

#window#waybar {
  color: @text;
  background-color: @base;
  transition-property:  background-color;
  transition-duration: 0.5s;
  border: 2px solid @base;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 6px;
  margin-left: 0px;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 8px;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  margin-left: 0px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 0px;
  color: @text;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
  background: @overlay;
  color: @rose;
  border-radius: 6px;
  margin-left: 0px;
  margin-top: 1.4em;
  margin-bottom: 1.0em;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 0px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  background: @surface;
  color: @iris;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tags button {
  color: @overlay;
  background: @base;
  border-radius: 2px;
  padding: 0px 0px;
  margin: 5px 0px;
}

#tags button.occupied {
  color: @surface;
}

#tags button.focused {
  color: @foam;
}

#tags button.urgent {
  color: @love;
}

#clock {
  font-size: 15px;
}

#idle_inhibitor {
  font-size: 20px;
}

#custom-notification {
  color: @text;
}

#sysconnection {
 margin: 2px;
}

#tray,
#idle_inhibitor,
#selectedWindow,
#playerControls,
#special2,
#special,
#packages,
#selectedWindow,
#clock,
#sysconnection,
#sysaux,
#sysinfo,
#workspaces {
  color: @text;
  background: @base;
  margin: 5px;
  border: 2px;
}
#custom-spotify,
#bluetooth,
#custom-next, #custom-pause, #custom-previous {
font-size: 20px;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @love;
}

#battery.charging,
#battery.plugged {
  color: @pine; /* linear-gradient(145deg, @pine 0%, #1e1e1e 100%); */
}

label:focus {
  background-color: @base;
}

#battery.critical:not(.charging) {
  color: @love;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

