// INFO: Input mapping!
// Input device configuration.
// Find the full list of options on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "gb,ru"
            // options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }

        numlock
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="10%"
}

// INFO: MONITORS!
// https://niri-wm.github.io/niri/Configuration:-Outputs

include "monitor.kdl"

// INFO: windows & aesthetics
// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Layout

blur {
  // off
  passes 3
  offset 3.0
  noise 0.02
  saturation 1.5
}

prefer-no-csd

layout {
  // Set gaps around windows in logical pixels.
  gaps 5
  center-focused-column "never"
  //
  // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66666
  }

  // You can also customize the heights that "switch-preset-window-height" (Mod+Ctrl+Shift+R) toggles between.
  preset-window-heights {
    proportion 0.35
    proportion 0.5
    proportion 0.65
    proportion 1.0
  }

  // You can change the default width of the new windows.
  default-column-width { proportion 0.5; }

  // By default focus ring and border are rendered as a solid background rectangle
  // behind windows. That is, they will show up through semitransparent windows.
  // This is because windows using client-side decorations can have an arbitrary shape.
  //
  // If you don't like that, you should uncomment `prefer-no-csd` below.
  // Niri will draw focus ring and border *around* windows that agree to omit their
  // client-side decorations.
  //
  // Alternatively, you can override it with a window rule called
  // `draw-border-with-background`.

  // You can change how the focus ring looks.
  focus-ring {
    off
  }

  // You can also add a border. It's similar to the focus ring, but always visible.
  border {
    // off

    width 2
    active-color "#ffb4ff"
    inactive-color "#1e1e1e"

    urgent-color "#c4a7e7"

  }

  // You can enable drop shadows for windows.
  shadow {
    // on

    // draw-behind-window true

    softness 30
    spread 5
    offset x=0 y=5

    color "#0007"
  }

  tab-indicator {
    on
  }

  struts {
    left 4
    right 4
    top 4
    bottom 4
  }
}

// INFO: cursor!
// more info can be found here https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#cursor
cursor {
  xcursor-theme "Kirispica"
  xcursor-size 24
  hide-after-inactive-ms 10000
}

// INFO: overview
// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#overview
overview {
  backdrop-color "#1e1e1e"
  zoom 0.75
}

// INFO: Environment Variables
// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html#Environment
environment {
  GTK_THEME "rose-pine-gtk"
  GTK_USE_PORTAL "1"

  QT_QPA_PLATFORMTHEME "kde"
  QT_STYLE_OVERRIDE "kvantum"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

  ELECTRON_OZONE_PLATFORM_HINT "auto"

  // GBM_BACKEND,nvidia-drm
  // __GLX_VENDOR_LIBRARY_NAME,nvidia
  // LIBVA_DRIVER_NAME,nvidia
}

// INFO: autostart & maintanence
// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-sh-at-startup "while true; do waybar; notify-send \"Waybar Crashed? Restarting\"; done"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
    hide-not-bound
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d-%H%M%S.png"

// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {}

// INFO: WINDOW RULES!
// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^Bitwarden$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^zen$"# title="- Gmail "
    match app-id=r#"^zen$"# title="Bitwarden"

    block-out-from "screen-capture"
    // block-out-from "screen"

    tab-indicator {
      inactive-color "#ff8080"
    }

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
  match title="Kando Menu"
  open-floating true
  focus-ring { off; }
  border { off; }
  shadow { off; }
  default-floating-position x=0 y=0
  background-effect { blur false; }
}

/-window-rule {
  match is-floating=true
  baba-is-float true
}

// INFO: layer-rules!
// which are not window-rules but are layer-rules, they're not to be confused with window-rules
// the effect i really want, blur, is still currently not supported as of 2026/28/26
// https://niri-wm.github.io/niri/Configuration%3A-Layer-Rules.html

/-layer-rule {
  match layer="top"
  match layer="overlay"

  background-effect{ blur true; }
}

// INFO: Keybinds

include "keybinds.kdl"
